<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Jenna.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConsumerKey" value="ODc3N18HEoz1AfLKezfVb2w2deBq"/>
    <add key="ConsumerSecret" value="ODc3N19bFrIEiFsKDnRa1IKw1r-e"/>
    <add key="HyvesHttpUri" value="http://data.hyves-api.nl/"/>
    <add key="HyvesHttpUriSecure" value="https://data.hyves-api.nl/"/>
    <add key="ApiVersion" value="2.0"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <Jenna.Interface.Properties.Settings>
      <setting name="PrevWinPosition" serializeAs="String">
        <value>0,0,0,0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>0</value>
      </setting>
    </Jenna.Interface.Properties.Settings>
  </userSettings>
</configuration>
